@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl;
  @apply font-bold;
}

h2 {
  @apply text-xl;
  @apply font-bold;
}

h3 {
  @apply text-lg;
  @apply font-bold;
}

h4 {
  @apply text-[.95rem];
  @apply font-bold;
  @apply text-grey-35;
  @apply uppercase;
}

p {
}

small {
  @apply text-sm;
}
