@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* IMPORT ALL FONTS */
  @font-face {
    src: url(/fonts/iAWriterQuattroS-Regular.woff2);
    font-family: "Quattro";
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-Bold.woff2);
    font-family: "Quattro";
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-Italic.woff2);
    font-family: "Quattro";
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-BoldItalic.woff2);
    font-family: "Quattro";
    font-style: italic;
    font-weight: bold;
  }
  /* END IMPORT FONTS */
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  @apply bg-background;
  /* @apply h-full; */
  @apply p-0;
  @apply text-grey-15;
  min-height: -webkit-fill-available;
  font-family: "Quattro";
  word-break: break-word;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
  color: blue;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* NB: should only be used for note titles! */
h1 {
  @apply text-3xl;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mb-4;
  @apply mt-8;
  @apply first:mt-0;
}

h3 {
  @apply text-xl;
  @apply font-bold;
  @apply mb-2;
  @apply mt-4;
  @apply first:mt-0;
}

p {
  @apply mb-4;
  @apply first:mt-0;
  @apply leading-relaxed;
}

small {
  @apply text-sm;
}

.tiny {
  @apply text-xs;
}

pre {
  font-family: "Quattro" !important;
}

ul,
ol {
  margin-left: 2rem;
}
ul {
  list-style: square;
}
ol {
  list-style: decimal-leading-zero;
}
li {
  margin-bottom: 0.5rem;
}
li:last-child {
  @apply mb-4;
}

img {
  border: 2px solid #e8e2d7;
  border-radius: 8px;
  background-color: #fdfcfa;
  margin: auto auto;
}

.blockquote .quotetext :last-child {
  margin: 0;
}
